*{
  margin:0;
  padding: 0;
}
.row{
  max-width: 1140px;
  margin: 0 auto;
}
body{
  font-family:sans-serif;
}
.hero{
  position: absolute;
  width: 1140px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)), url("../img/cover.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
h1{
  color: white;
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 60px;
}
.main-nav li{
  display: inline-block;
  margin-left: 20px;
}
.main-nav li a{
  color: white;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}
.main-nav li a:hover{
  color:#e0a021;
  border-bottom: 1px solid ;
  transition: all 0.3s ease-in;
  padding-bottom: 10px;

}
.logo img{
  height: 100px;
  float: left;
  margin-top: 30px;
}
.btn{
  border: 1px solid;
  padding: 10px 10px;
  color:#e0a021;
  text-decoration: none;
  border-radius: 12px;
  margin-right: 20px;
}
.button-main{
  margin-top: 30px;
}
.btn-half{
 background-color: #ce8a04;
 color: white;
}
.btn-full:hover{
  background-color: #ce8a04;
  color: white;
transition:all 0.4s ease-in;
}
.copy{
  width: 75%;
  margin-left: 15%;
}
.features h3{
  margin-top: 60px;

}
h3:after{
  width: 100px;
  height: 2px;
  background-color: #ce8a04;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.arrange{
  text-align: justify;
}

.features i{
  font-size: 40px;
  color: #ce8a04;
  margin-left: 25%;
  margin-top: 5%;
}
